package templates 

templ InternalServerError() {
	<div id="error" class="text-red-600">
		<h1 class="text-sm">500 Internal Server Error</h1>
		<p class="text-xs">Sorry, something went wrong. Please try again.</p>
	</div>
}
