package templates

templ Tutorial() {
	<div class="flex flex-col items-center justify-center">
		<div class="bg-blue-200 p-4 m-4 rounded-lg text-center">
			<h2 class="text-lg">What is this?</h2>
			<p>Enter the url you should like to shorten and a corresponding key.</p>
		</div>
	</div>
}
